<%- include('partials/header') -%>
	
<div class="container"  >

	<div class="c1" >
		<img src="https://proxy-eu-central1.goorm.io//service/5ea5be24bb23e5a63100a887_dpsYSi8HLotq9gdtr21.run-eu-central1.goorm.io/9080//file/load/login.png?path=d29ya3NwYWNlJTJGTW9uZ29EQl9DJTJGbG9nSW4lMkZ2aWV3cyUyRmltZ3MlMkZsb2dpbi5wbmc=&docker_id=dpsYSi8HLotq9gdtr21&secure_session_id=e8xVb5pCP7s2LCswMcHBW26yrWjVop6h" >


		<div style ="margin: 20px auto" >
			<a href="/login"  class="btn btn-primary btn-lg btn-block" role="button">login page</a>
		</div>
		<div style ="margin: 20px auto" >
			<a  href="/register" class="btn btn-outline-primary btn-lg btn-block" role="button">Sign up page</a>
		</div>
		<div style ="margin: 20px auto" >
			<a href="/logOut" class="btn btn-outline-danger btn-lg btn-block" role="button" >log out</a>
		</div>
	</div>
</div>


<%- include('partials/footer') -%>