<%- include('partials/header'); -%>

<div class="container">
	<h1>
	 Sign up page
	</h1>

	<form action="/register" method="POST">
		<input type="text"  name="username" placeholder="username" >
		<input type="password" name="password" placeholder="password" >
		<input type="email" name="email" placeholder="Email" >
		<input type="submit" placeholder="submit" >
	</form>

	<div>
		<a href="/login" >login page</a>
	</div>
	<div>
		<a href="/logOut" >log out</a>
	</div>
	
	<a class="btn btn-secondary" href="/" role="button">home page</a>
</div>


<%- include('partials/footer'); -%>