<%- include('partials/header'); -%>


<img src="https://proxy-eu-central1.goorm.io//service/5ea5be24bb23e5a63100a887_dpsYSi8HLotq9gdtr21.run-eu-central1.goorm.io/9080//file/load/loggrd%20in.png?path=d29ya3NwYWNlJTJGTW9uZ29EQl9DJTJGbG9nSW4lMkZ2aWV3cyUyRmltZ3MlMkZsb2dncmQlMjBpbi5wbmc=&docker_id=dpsYSi8HLotq9gdtr21&secure_session_id=e8xVb5pCP7s2LCswMcHBW26yrWjVop6h" >

<a href="/" >back</a>



<div>
	<a href="/logOut" >log out</a>
</div>

<a class="btn btn-secondary" href="/" role="button">home page</a>

<%- include('partials/footer'); -%>